/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Alegreya SC', serif;
}

/* header styles */

h1 {
  font-size: 2.8rem;
  text-align: left;
}

header p {
  font-size: 0.9rem;
  text-align: right;
}

/* section styles */

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.0rem;
  letter-spacing: -3px;
  margin-bottom: 10px;
}

#searchAllSlot {
  background-image: url('https://bellerophons-pegasus.github.io/lobib/Vector_search_icon.svg'); /* Add a search icon to input */
  background-size: 2rem;
  background-position: 6px 7px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 80%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 2px solid #ddd; /* Add a grey border */
  border-radius: 10px;
  margin-bottom: 12px; /* Add some space below the input */
}
